<div class="container">
  <div class="row">
    <div class="col">
      <table class="table text-center table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let s of studentsFromParent">
            <td>{{s.name}}</td>
            <td>{{s.age}}</td>
          </tr> -->
          <tr>
            <td>Mostafa</td>
            <td>23</td>
            <td>0101010</td>
            <td>Fouad ST</td>
            <td>Mostafa@gmail.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
